body{
    background-color: #F5DF58;
}
.logo{
background-size: 0%;
}
.nav-link{
    margin-left: 20%;
    font-size: 200%;
}
.adm{
    margin-left: 15%;
}
.cerrar{
    margin-left: 15%;
}
#buscar{
    margin-top: 30%;
}
.btn{
    margin-top: 30%;
}