body{
    background-color:#CACACA;
}
.logo{
background-size: 0%;
}
.nav-link{
    margin-left: 20%;
    font-size: 200%;
}
.form-control{
    margin-top: 20%;
    margin-left: 27%;
}
.cerrar{
    margin-left: 15%;
}
#buscar{
    margin-top: 30%;
}
.btn{
    margin-top: 5%;
    margin-left: 55%;
    width: 30%;
}
.table{
    margin-top: 20%;
    background-color: white;
}
#logo{
    margin-left: 40%;
}