body{
     background-color:#CACACA;
    background-repeat: no-repeat;
    background-origin: content-box;
}
.formu{

    margin-top: 20%;
    width: 70%;
}
h2{
    text-align: center;
    margin-bottom: 10%;
}
.form-control{
    height:7%;
    margin-bottom: 20%;
}
.custom-select{
    height: 10%;
}
/*EVENTOS DE FOTO*/
#startbutton{
    background-color: #222222;
    color: #E5E5E5;
    width: 30%;
    border: #E5E5E5 2 px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2em;
    
  }
  #canvas{
    display: block;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 1em; 
    float: initial;
  }
  
  #video{
    border-radius: 50px;
    text-align: center;
    margin-bottom: 1em; 
   
  }
  #camara{
    margin-top: 2%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #E5E5E5;
    text-align: center;
    padding: 3%;
  }
  img{
    margin-top: 0%;
    margin-left: 190%;
}