/*Estilos para la barra de menu*/
#administracion{
    background-color:black;
}
.logo{
background-size: 0%;
}
.nav-link{
    margin-left: 20%;
    font-size: 200%;
}
.adm{
    margin-left: 15%;
}
.cerrar{
    margin-left: 15%;
}
/*Estilos para la seccion de busqueda*/
.busqueda{
width: 100%;
height: 80%;
background-image:url("../img/R7A4124.jpg");
background-repeat: no-repeat;
background-size: 100%;
padding: 30%;
}
.form-inline{
  margin-right: 20%;
}
.btn{
margin-top: 3%;
width: 20%;
margin-left: 40%;
}
/*Estilo para tabla*/
.table{
margin-top: 0;
background-color: white;
}
