#logo{
	margin-top: 200px;
}
#btn2{
	margin-top: 50px;
}

#btn1{
  margin-left: 600px;
  color: #010101;

}
.divDisplayNone{
	display: none;
}
.divDisplayBlock{
	display: block;
}

#login{
	text-align: center;
}


/*EVENTOS DE FOTO*/
#startbutton{
  background-color: #222222;
  color: #E5E5E5;
  border: #E5E5E5 2 px solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 2em;
}

#canvas{
  display: block;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 1em; 
  float: initial;
}

#video{
  border-radius: 50px;
  text-align: center;
  margin-bottom: 1em; 
 
}
#camara{
  margin-top: 2%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #E5E5E5;
  text-align: center;
  padding: 3%;
}
.form-control-sm{
  height: 1.8em;  
}