/*primera pantalla*/
img{
    height: 90%;
}
.carousel{
    margin-top: 20%;
}

.divDisplayNone{
	display: none;
}
.divDisplayBlock{
	display: block;
}

#login{
	text-align: center;
}
/*Pagina Recepcion*/
#recepcion{
     background-color:#CACACA;
    background-repeat: no-repeat;
    background-origin: content-box;
}
.formu{

    margin-top: 20%;
    width: 70%;
}
h2{
    text-align: center;
    margin-bottom: 10%;
}
.form-control{
    height:7%;
    margin-bottom: 20%;
}
.custom-select{
    height: 10%;
}
/*administracion*/
#administracion{
    background-color:black;
}
.logo{
background-size: 0%;
}
.nav-link{
    margin-left: 20%;
    font-size: 200%;
}
.adm{
    margin-left: 15%;
}
.cerrar{
    margin-left: 15%;
}
/*Estilos para la seccion de busqueda*/
.busqueda{
width: 100%;
height: 80%;
background-image:url("../img/R7A4124.jpg");
background-repeat: no-repeat;
background-size: 100%;
padding: 30%;
}
.form-inline{
  margin-right: 20%;
}
.btn{
margin-top: 3%;
width: 20%;
margin-left: 40%;
}
/*Estilo para tabla*/
.table{
margin-top: 0;
background-color: white;
}


/*EVENTOS DE FOTO*/
#startbutton{
  background-color: #222222;
  color: #E5E5E5;
  border: #E5E5E5 2 px solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 2em;
}

#canvas{
  display: block;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 1em; 
  float: initial;
}

#video{
  border-radius: 50px;
  text-align: center;
  margin-bottom: 1em; 
 
}
#camara{
  margin-top: 2%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #E5E5E5;
  text-align: center;
  padding: 3%;
}
.form-control-sm{
  height: 1.8em;  
}


#adminstracion{
    background-color:#CACACA;
}
.logo{
background-size: 0%;
}
.nav-link{
    margin-left: 20%;
    font-size: 200%;
}
.form-control{
    margin-top: 20%;
    margin-left: 27%;
}
.cerrar{
    margin-left: 15%;
}
#buscar{
    margin-top: 30%;
}
.btn{
    margin-top: 5%;
    margin-left: 55%;
    width: 30%;
}
.table{
    margin-top: 20%;
    background-color: white;
}
#logo{
    margin-left: 40%;
} 