
.login{
    margin-top: 20%;
}
#logo{
	margin-top: 200px;
}
#btn2{
	margin-top: 50px;
}

#btn1{
  margin-left: 600px;
  color: #010101;

}
.divDisplayNone{
	display: none;
}
.divDisplayBlock{
	display: block;
}

#login{
	text-align: center;
}